/* === RESET === */
html {
	font-size: calc(1em + 0.4vw);
	color: #d600ff;
	font-family: Fredoka One, sans-serif;
	line-height: 1.5;
}

*,
::before,
::after {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	font-weight: normal;
}

body {
	background: #fefefe;
	overflow-x: hidden;
	padding-bottom: 1.5rem;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
}

* + * {
	margin-top: 1.5rem;
}

body,
br,
dt,
dd,
th,
td,
option,
[hidden] + * {
	margin-top: 0;
}

#speakout-app {
	background-color: #fff;
	background-image: radial-gradient(#d600ff, transparent 16%), radial-gradient(#d600ff, transparent 16%);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}

li + li {
	margin-top: 0.5rem;
}

label + * {
	margin-top: 0;
}

button:hover {
	cursor: pointer;
}

/* === SELECTION === */
::selection {
	background: #d600ff;
	color: #fff;
}
